.card
    img.card-img-top(src='/img/vacanze.jpg', alt='Card image cap')
    .card-body
        h5.card-title TITOLO DELLA VACANZA     
        p.card-text Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
    a.btn.btn-primary(href='#') Dettagli..