doctype html
html
  head
    title= title
    //- CSS
    link(rel="stylesheet", href="stylesheets/bootstrap-grid.min.css")
    link(rel="stylesheet", href="stylesheets/bootstrap-reboot.min.css")
    link(rel="stylesheet", href="stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href='stylesheets/style.css')
    
  block nav

  body
    block content
  
  footer
    //- JS
    script(type='text/javascript' src='javascripts/jquery-3.3.1.min.js')
    script(type='text/javascript' src='javascripts/popper.min.js')
    script(type='text/javascript' src='javascripts/bootstrap.min.js')
    
    script(type='text/javascript' src='javascripts/main.js')

    block footer