extends main/layout

block add-css
    link(rel='stylesheet', href='/css/admin/admin.css')

block add-js
    script(type='text/javascript' src='/js/admin/admin.js')

block nav
    include main/navbar.jade

block content
    .main
        h1 PAGINA NAZIONI