doctype html
html
  head
    title= title
    script(type='text/javascript' src='/js/main/all.min.js')
    
    include ../main/default-css.jade
    block add-css

  body
    header
      block nav

    div.main-content
      block content
  
  footer.row.justify-content-md-center.bg-dark
    block footer
    
  include ../main/default-js.jade
  block add-js
