.main-content {
    margin-left: -5px;
    margin-right: -2px;
}

.vacanza-section-header {
    background-color: #f2f2f2;
    padding: 50px 15px 50px !important;
    text-align: center;
}

.block-square {
    margin: 0 15px 0 15px;
}

.grid_element_box {
    padding: 20px 10px 20px 10px;
}

.grid_element_box {
    max-width: 45%;
    height: 300px;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
}

.grid_element_box_child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.grid_element_box_child a {
    display: none;
    font-size: 35px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
}

.grid_element_box:hover .grid_element_box_child, .grid_element_box:focus .grid_element_box_child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.grid_element_box:hover .grid_element_box_child:before, .grid_element_box:focus .grid_element_box_child:before {
    display: block;
}

.grid_element_box:hover a, .grid_element_box:focus a {
    display: block;
}

.grid_element_box_child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

.title-header-box {
    border: 0.5px solid #dfdfdf;
    border-radius: 5px;
    padding: 10px 0px 10px 10px;
    margin: 0px 10px 0px 10px;
    background-color: #dfdfdf;
}

.title-header-box span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  width: 100%;
}

.title-header-box p {
  margin: 0;
}

@media screen and (max-width: 960px) {
    .grid_element_box {width: 100%; margin: 20px 0px}
    .block-square {padding: 20px 20px;}
}
