doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title= title

    include default-css.jade
    block add-css

  body
    header
      block nav

    .loader-container.d-none
      .loader

    div
      block content
  
  footer.row.justify-content-md-center.bg-dark
    block footer
    
  include default-js.jade
  block add-js
