.sidenav
  a(class=(section === "home" ? "selected" : ""), href='/admin/') Home
  a(class=(section === "localita" ? "selected" : ""), href='/admin/localita') Località
  a(class=(section === "vacanze" ? "selected" : ""), href='/admin/vacanze') Pacchetti vacanze
  a(class=(section === "alloggi" ? "selected" : ""), href='/admin/alloggi') Alloggi
  a(class=(section === "categorie" ? "selected" : ""), href='/admin/categorie') Categorie
  a(class=(section === "continenti" ? "selected" : ""), href='/admin/continenti') Continenti
  a(class=(section === "nazioni" ? "selected" : ""), href='/admin/nazioni') Nazioni
  a(class=(section === "tag" ? "selected" : ""), href='/admin/tag') Tag
  a(class=(section === "immagini" ? "selected" : ""), href='/admin/immagini') Immagini