//- JS
script(type='text/javascript' async src='/js/main/jquery-3.3.1.min.js')
script(type='text/javascript' async src='/js/main/popper.min.js')
script(type='text/javascript' async src='/js/main/bootstrap.min.js')
script(type='text/javascript' async src='/js/main.js')