doctype html
html
  head
    meta(charset='UTF-8')
    title= title

    //- script(type='text/javascript' src='/js/main/all.min.js')

    include default-css.jade
    block add-css

  body
    header
      block nav

    div
      block content
  
  footer.row.justify-content-md-center.bg-dark
    block footer
    
  include default-js.jade
  block add-js
