//- nav.navbar.navbar-icon-top.navbar-expand-lg.navbar-light.bg-warning
nav.navbar.navbar-icon-top.navbar-expand-xl.navbar-dark.bg-dark
  a.navbar-brand(href='/') I viaggi di Toto
  |   
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  |   
  #navbarSupportedContent.collapse.navbar-collapse
    - if(wip == false)
      ul.navbar-nav.mr-auto
        li.nav-item(class=(route === "vacanze" ? 'active' : ''))
          a.nav-link(href='/vacanze')
            i.fa.fa-globe-americas
            |  Vacanze
            |           
            //- span.sr-only (current) 
        //- li.nav-item(class=(route === "categorie" ? 'active' : ''))
        //-   a.nav-link(href='/categorie')
        //-     i.fa.fa-home 
        //-     |           Categorie
        //-     |  
        li.nav-item(class=(route === "articoli" ? 'active' : ''))    
          a.nav-link(href='/articoli')
            i.fa.fa-book
            |  I miei Viaggi
        li.nav-item(class=(route === "chi_siamo" ? 'active' : ''))
          a.nav-link(href='/chi_siamo')
            i.fa.fa-dragon
            |  Chi sono
        li.nav-item(class=(route === "contattaci" ? 'active' : ''))
          a.nav-link(href='/contattaci')
            i.fa.fa-edit
            |  Contattaci

        li.nav-item(class=(route === "business" ? 'active' : ''))
          a.nav-link(href='/business')
            i.fa.fa-edit
            |  Toto for Business

      //- span.badge.badge-danger 11