body {
    background-color: white !important;
    height: 100%;
    margin: 0;
}
footer {
    bottom: 0;
}

.box-login {
    background-color: #c5c5c5;
    width: 60%;
    border-style: solid;
    padding: 25px;
    position:absolute;
    color:#fff;
    top:50%;
    left:50%;
    padding:15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}