extends layout_articoli

block footer
  include ../main/footer.jade

block nav
  include ../main/navbar.jade

block content
  h1= title
  p Articolo "#{title}"" ancora non disponibile, torna a trovarci per leggere questo nuovo e srabiliante viaggio :)
