extends layout_articoli

block footer
  include ../main/footer.jade

block nav
  include ../main/navbar.jade

block header
  .headerImg(style='background-image: url("/img/articoli/#{articolo.image}");')

block content
  h1= title
  p Ciao a tutti,  
  |	questo week end mi sono buttato in un vero e proprio last minute!  Veloce ricerca sui miei siti di fiducia e nel giro di mezz’oretta avevo prenotato per  Sofia, capitale della Bulgaria!
  |	
  |	Di certo non è tra le classiche mete a cui tutti pensano nell’immediato (Parigi, Londra, Madrid.), ma proprio per questo ero molto curioso e vi dirò che ne sono rimasto particolarmente e piacevolmente sorpreso.
  |	
  |	Voli:
  |	
  |	Partenza da Bologna il venerdì sera ore 22:35 e arrivo a Sofia alle ore 01:25 (il volo dura 2 ore ma Sofia è un’ora avanti rispetto a noi)
  |	
  |	Ritorno domenica sera da Sofia alle 20:45 e arrivo a Bologna alle 21:20 (orari comodissimi  che ti permettono di sfruttare a pieno il week end!)
  |	
  |	Compagnia Aerea:
  |	
  |	Abbiamo volato con Wizzair, la compagnia low cost ungherese specializzata nei voli verso l’est Europa. Classico volo economico, vi consiglio l’acquisto del bagaglio a mano grande (15€ a tratta) se si intende portare qualche vestito in più e l’imbarco prioritario (12 € per A/R) che vi farà saltare le file e sarete tra i primi a salire a bordo,  inoltre questa formula ti permette di portare anche un piccolo zaino/borsa che altrimenti sarebbe a pagamento.
  |	
  |	Moneta:
  |	
  |	la moneta locale si chiama LEV (1 euro = 1.95 Lev), vi consiglio di cambiare la moneta in centro città per usufruire di un miglior tasso di cambio o prelevare direttamente dal Bancomat per evitare tasse o cambi sfavorevoli.
  |	
  |	Aeroporto di Sofia:
  |	
  |	L’aeroporto di Sofia è un pò datato, non aspettatevi il solito aeroporto internazionale a cui magari siete abituati.  Appena arrivati percepirete subito “lo stile Ex Unione Sovietica”, ciò nonostante ha tutto quello che serve per essere un aeroporto sicuro, che è quello che più conta.
  |	
  |	Trasferimenti :
  |	
  |	Il centro città dista circa 10 Km, potete scegliere se arrivarci in Taxi (consiglio Ok Taxi, troverete il banco per prenotare il vostro trasferimento subito prima dell’uscita dall’aeroporto sulla sinistra. Spesa circa 10 €) o in Metropolitana (costo del biglietto 0,80 € ed in 25 minuti sarete in centro).
  |	
  |	Sofia:
  |	
  |	Sofia è la capitale della Bulgaria (1,2 milioni di abitanti) ed è la terza capitale più antica del mondo dopo Roma e Atene.
  |	
  |	Il centro è molto curato, pulito e, a differenza di quello che si può pensare, l’ho vissuta come una città molto sicura sia di giorno che di sera.
  |	
  |	Avendo dimensioni relativamente piccole,se partite ben organizzati, un week end è sufficiente per visitare la città e tutti i suoi luoghi di interesse.
  |	
  |	Cosa Vedere:
  |	
  |	Cattedrale di Alexander Newskij:  una cattedrale ortodossa, uno dei monumenti più importanti della città che può contenere fino a 5000 persone ed il suo interno è in stile Italiano.
  |	
  |	Statua di Santa Sofia:
  |	
  |	
  |	
  |	simbolo della città e dedicata alla santaprotettrice questa statua di rame e bronzo è alta ben 16 metri e si trova su Todor Alexander, una delle vie più importanti di Sofia. (sicuramenteda vedere!)
  |	
  |	 
  |	
  |	Casa del Parlamento:
  |	
  |	ogni 2 ore potrete essere spettatori del cambio della Guardia, non aspettatevi quello di Buckingham Palace, ma comunque di tutto rispetto.
  |	
  |	
  |	
  |	
  |	
  |	Chiesa di S.Giorgio:
  |	
  |	questa piccola Chiesa a pianta circolare è il monumento più antico della città Serdica (antico nome di Sofia).
  |	
  |	La chiesa è situata all’ interno del Palazzo della presidenza della Repubblica Bulgara.
  |	
  |	 
  |	
  |	 
  |	
  |	Anfiteatro di Serdica:   le rovine di questo bellissimo anfiteatro sono state scoperte per pura casualità durante la costruzione di un palazzo, palazzo che naturalmente dopo tale scoperta non ha più visto la luce.
  |	
  |	Monumento Equestre: statua al centro della Piazza Narodno Sabranie in onore dell’Imperatore russo Alessandro II, chiamato lo Zar Liberatore.
  |	
  |	Chiesa di Santa Sofia :
  |	
  |	Si trova di fronte alla cattedrale di Alexander Newskij.
  |	
  |	La capitale bulgara prende il nome proprio da questa chiesa. Non avendo più un campanile a causa di varie distruzioni negli anni i fedeli come simbolo misero una campana sul albero di fronte, campana che è tuttora visibile.
  |	
  |	 
  |	
  |	Teatro Nazionale  IVAN VAZOV: splendido edificio sul cui palco si sono esibiti tutti i personaggi di rilievo della scena bulgara. Lo consiglio sia agli appassionati di teatro che a coloro che amano l’architettura.
  |	
  |	
  |	
  |	Sinagoga di Sofia: una delle più grandi d’Europa, contiene fino a 1200 fedeli ed è possibile visitare il suo interno solo su invito o se si è di religione ebraica.
  |	
  |	Chiesa di Boyana:  situata nella prima periferia della città, è stata dichiarata Patrimonio dell’ Unesco per i suoi affreschi. E’ di dimensioni piuttosto ridotte ma vale comunque la pena spostarsi per visitarla se ne si ha il tempo.
  |	
  |	Museo Archeologico Nazionale: ospitato all’interno di una Moschea e orgoglio degli abitanti di Sofia, ha come obiettivo quello di cercare di valorizzare il patrimonio nazionale bulgaro.
  |	
  |	Vitosha Boulevard:  la via della moda e della movida, molto bella in orario di aperitivo e molto frequentata grazie  alle decine  di locali. La via è chiusa al traffico quindi potrete passeggiare tranquillamente senza dovervi preoccupare di nulla.
  |	
  |	 
  |	
  |	A proposito di passeggio vi consiglio anche di passeggiare per i tanti e curatissimi giardini pubblici pieni di fiori coloratissimi e di turisti.
  |	
  |	 
  |	
  |	Dove Mangiare:
  |	
  |	Happy Bar e Grill, fast food moderno e diverso dal solito
  |	
  |	Si trova su Georgi street Rakovsky, 145, (antipasto secondo acqua e caffè 13€)
  |	
  |	Made in Home, Ristorante di pesce caratteristico e consigliato
  |	
  |	Si trova su Angel Kanchev,30°
  |	
  |	Edo Sushi & Tappanyaki
  |	
  |	Georgi Sava Rakovski,96
  |	
  |	Sasa Asian Food
  |	
  |	Ristorante di sushi molto buono ed economico, il tutto condito da una meravigliosa vista sulla cattedrale di Alexander Newskij.
  |	
  |	La sera:
  |	
  |	Non ho girato molto la sera e non ho frequentato locali diversi da Bar o Ristoranti, ma vi posso comunque consigliare una passeggiata su Vitosha Boulevard per un Drink o se siete in cerca di divertimento una delle discoteche del centro città.
  |	
  |	Conclusioni
  |	
  |	Sofia è una bellissima città, pulita, e in continua evoluzione, molto economica e piena di monumenti, una meta alternativa che non ha nulla di ripiego. Al contrario vi consiglio di andarla a visitare appena avete un weekend libero, prima che diventi meta classica e quindi più affollata e più costosa.
  |	
  |	Bellissimi i giardini pubblici, i caratteristici mercati coperti e scoperti, dove poter consumare anche un pranzo veloce spendendo meno di 5€.
  |	
  |	
  |	
  |	Vi consiglio davvero questa meta e spero che i miei consigli possano esservi di aiuto.
  |	
  |	Voglio ringraziare per il supporto e la collaborazione il mio amico e fotografo  Gianluca  e potrete trovare tutte le foto scattate durante questo week end cliccando Qui 
  |	
  |	 
  |	
  |	Come sempre sono a vostra disposizione per consigli e info
  |	
  |	Alla prossima destinazione!
  |	
  |	Toto